[Desktop Entry]
Comment=Konker-Splash

Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Konker-Splash

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Konker
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=Konker-Splash
X-KDE-PluginInfo-Version=0.1
X-Plasma-MainScript=defaults

